.code-destroy-wrap {
  .code-handle-box {
    padding: 25px 30px;
    background: #fff;
    h2{
      font-size: 18px;
      color: #333;
      margin-bottom: 20px;
    }
  }
  .code-destroy-content{
    padding: 20px 30px;
    background: #fff;
    h2{
      font-size: 18px;
      color: #333;
      margin-bottom: 20px;
    }
  }
}