#home {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .layout {
    flex: 1;
    display: flex;
    background-color: #f0f2f5;
  }
  
  .main {
    flex: 1;
    background-color: #f0f2f5;
    display: flex;
    overflow-y: auto;
  }
}